
.light{
  --bg:#f8f8f8;
  --color:#767676;
  --nav-bg:#fff;
  --headings: #303030;
}

.dark{
  --bg:#34353a;
  --color:#bbb;
  --nav-bg : #494b50;
  --headings:#fff;
}

*{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
